<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khachidze_01469313.myrymer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FavoritListActivity"></activity>
        <activity android:name=".SynonymResultActivity" />
        <activity android:name=".SearchedSynonymWordsListActivity" />
        <activity android:name=".SearchedFrequentWordsListActivity" />
        <activity android:name=".SeachedRhymesWordsListActivity" />
        <activity android:name=".RhymeResultActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".ListTestActivity" />
        <activity android:name=".HowToActivity" />
        <activity android:name=".FrequentResultActivity" />
        <activity android:name=".FavoritActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>